SIT323 - Assignment 2/Connected Services/DemoWebServer1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57817/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="frequencyList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="maxDuration" type="xs:double" />
      <xs:element minOccurs="0" name="processorsList" nillable="true" type="tns:ArrayOfProcessors" />
      <xs:element minOccurs="0" name="programProcessors" type="xs:int" />
      <xs:element minOccurs="0" name="programTasks" type="xs:int" />
      <xs:element minOccurs="0" name="runtimeFrequency" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="runtimeList" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element minOccurs="0" name="totalEnergy" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigData" nillable="true" type="tns:ConfigData" />
  <xs:complexType name="ArrayOfProcessors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Processors" nillable="true" type="tns:Processors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessors" nillable="true" type="tns:ArrayOfProcessors" />
  <xs:complexType name="Processors">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frequnecy" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramDuration" type="xs:double" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTasks" />
      <xs:element minOccurs="0" name="TotalRuntimes" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Processors" nillable="true" type="tns:Processors" />
  <xs:complexType name="ArrayOfTasks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tasks" nillable="true" type="tns:Tasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTasks" nillable="true" type="tns:ArrayOfTasks" />
  <xs:complexType name="Tasks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Energy" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Runtime" type="xs:double" />
      <xs:element minOccurs="0" name="Runtimes" type="xs:double" />
      <xs:element minOccurs="0" name="allocated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tasks" nillable="true" type="tns:Tasks" />
</xs:schema>