SIT323 - Assignment 2/Connected Services/AwsWebServer3/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sit323lb3-414064062.us-east-1.elb.amazonaws.com/WCFServiceAlg3/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
  <xs:import schemaLocation="http://sit323lb3-414064062.us-east-1.elb.amazonaws.com/WCFServiceAlg3/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="cd" nillable="true" type="q1:ConfigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="GetAllocationsResult" nillable="true" type="q2:ConfigData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="printknapSack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="W" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="wt" nillable="true" type="q3:ArrayOfint" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="val" nillable="true" type="q4:ArrayOfint" />
        <xs:element minOccurs="0" name="n" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="output" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="printknapSackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIPAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIPAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>